h1 {
    font-family: times 'Times New Roman', Times, serif;
    text-decoration: underline;
    color: rgb(255, 0, 110);
    ;
    font-size: 45px
}

h2 {
    font-size: 1.5em;
    color: rgb(255, 0, 110);
}

h3 {
    font-size: 1.5em;
    color: rgb(255, 0, 110);
}

body {
    text-align: center;
    font: italic normal .8em arial, sans-serif;
    font-size: 40 px;
    margin: 2px solid color red
}

p {
    font-size: 1.2em;
}

html {
    background-color: black;
    border: 20px solid red;
}

div {
    margin: 4px 2px 2px 3px;
    padding: 9% 8%;
}